.eval {
  js: 42;
  js: 2;
  js: "hello world";
  js: 1, 2, 3;
  string-embedded: "aaa" "bbb";
  strings-list-embedded: "a", "b", "c";
  list-embedded: "a", "b", 1;
  font-family: "Microsoft YaHei", "Arial Narrow", "黑体-简", "微软雅黑", "文泉驿微米黑", "sans-serif";
  strings-list-escaped: a, b, c;
  title: "string";
  ternary: true;
  multiline: 2;
}
.scope {
  empty: ;
  var: 42;
  escaped: 7px;
}
.vars {
  width: 8;
}
.escape-interpol {
  width: hello world;
}
.arrays {
  ary: "1, 2, 3";
  ary1: "1, 2, 3";
}
.test-rule-tran {
  one: opacity 0.3s ease-in 0.3s, max-height 0.6s linear, margin-bottom 0.4s linear;
  two: [opacity 0.3s ease-in 0.3s, max-height 0.6s linear, margin-bottom 0.4s linear];
  three: opacity 0.3s ease-in 0.3s, max-height 0.6s linear, margin-bottom 0.4s linear;
}
